<div class="login_wrapper">
	<div class="login_form">
		<ada-language-picker></ada-language-picker>

		<!-- Selection Mode: Choose between Registration and Login -->
		<div *ngIf="mode === 'selection'" class="mode_selection">
			<h2>{{ 'login.choose_title' | t }}</h2>
			<ion-button expand="block" (click)="switchToRegistration()">
				{{ 'login.registration' | t }}
			</ion-button>
			<ion-button expand="block" (click)="switchToLogin()">
				{{ 'login.login' | t }}
			</ion-button>
		</div>

		<!-- Registration Mode: Enter user code -->
		<div *ngIf="mode === 'registration'" class="registration_mode">
			<h2>{{ 'login.register_title' | t }}</h2>
			<p *ngIf="registrationErrorKey" class="error_message">
				{{ registrationErrorKey | t:registrationErrorParams }}
			</p>

			<ion-input
				class="ion-primary-input"
				[label]="'login.registration_code_label' | t"
				labelPlacement="floating"
				[(ngModel)]="userCode"
				maxlength="9"
				[counter]="true"
				[placeholder]="'login.registration_code_placeholder' | t"
			/>

			<ion-button
				expand="block"
				(click)="onRegister()"
				[disabled]="registrationLoading"
			>
				<span *ngIf="!registrationLoading">{{ 'login.register' | t }}</span>
				<span *ngIf="registrationLoading">{{ 'login.processing' | t }}</span>
			</ion-button>

			<ion-button
				expand="block"
				fill="outline"
				(click)="backToSelection()"
			>
				{{ 'login.back' | t }}
			</ion-button>
		</div>

		<!-- Login Mode: Just click to authenticate -->
		<div *ngIf="mode === 'login'" class="login_mode">
			<h2>{{ 'login.login_title' | t }}</h2>
			<p *ngIf="loginErrorKey" class="error_message">
				{{ loginErrorKey | t:loginErrorParams }}
			</p>
			<p class="info_message">
				{{ 'login.login_info' | t }}
			</p>

			<ion-button
				expand="block"
				(click)="onLogin()"
				[disabled]="loginLoading"
			>
				<span *ngIf="!loginLoading">{{ 'login.login' | t }}</span>
				<span *ngIf="loginLoading">{{ 'login.authenticating' | t }}</span>
			</ion-button>

			<ion-button
				expand="block"
				fill="outline"
				(click)="backToSelection()"
			>
				{{ 'login.back' | t }}
			</ion-button>
		</div>
	</div>
</div>
