<!--src\adaos\integrations\inimatic\src\app\renderer\desktop\desktop.component.html-->
<ion-content [style.--background]="app?.desktop?.background || '#0b0f14'">
	<div class="desktop" *ngIf="pageSchema as page">
		<ng-container *ngFor="let area of page.layout.areas">
			<div
				class="area"
				[ngClass]="['area-' + area.id, area.role ? 'area-role-' + area.role : '']"
			>
				<ng-container *ngFor="let w of getWidgetsInArea(area.id)">
					<ada-page-widget-host [widget]="w"></ada-page-widget-host>
				</ng-container>
			</div>
		</ng-container>
	</div>
</ion-content>
